.input-group.md-form.form-sm.form-1 {
    border: 1px solid red;
    border-top-right-radius: 0.25;
    border-bottom-right-radius: 0.25;
    background-color: red;
    opacity: 0.3;
    position: -webkit-sticky; /* Safari */
    position: absolute;
    top: 0;
    width: 100%;
    height: 30%;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
  }